<h1>Contacts registry</h1>

<p *ngIf="!contacts"><em>Loading...</em></p>

<div *ngIf="contacts">

  <div style="display: flex">
    <form style="flex:1; display: flex" (submit)="search()">
      <input type="text" class="form-control" [(ngModel)]="searchTerm" name="searchTerm" />
      <button class="btn" type="submit">Search</button>
    </form>
    <div>
      <a [routerLink]="['/contacts/add']" class="btn btn-primary">Add new</a>
    </div>
  </div>


  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts;let i = index">
        <td>{{ contact.name }}</td>
        <td>{{ contact.defaultPhoneNumber }}</td>
        <td>{{ contact.defaultEmail }}</td>
        <td>
          <a [routerLink]="['/contacts/', contact.id]">Edit</a> |
          <a (click)="delete(contact, i)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>


</div>

<div style="display: flex">

  <div>
    <h1>Group A</h1> <button (click)="joinGroup('a')">Join</button>
    <div *ngFor="let msg of messages['a']">
      <span>{{msg.from}}</span>: {{msg.message}}
    </div>

    <div>
      <input type="text" [(ngModel)]="fromA" />
    </div>
    <div>
      <textarea [(ngModel)]="messageA"></textarea>
    </div>
    <button (click)="sendMessage('a', fromA, messageA)">Send</button>
  </div>

  <div>
    <h1>Group B</h1>  <button (click)="joinGroup('b')">Join</button>
    <div *ngFor="let msg of messages['b']">
      <span>{{msg.from}}</span>: {{msg.message}}
    </div>

    <div>
      <input type="text" [(ngModel)]="fromB" />
    </div>
    <div>
      <textarea [(ngModel)]="messageB"></textarea>
    </div>
    <button (click)="sendMessage('b', fromB, messageB)">Send</button>
  </div>

</div>
